hihprojekty/projekt1/xml/cubes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="YearType">
    <xs:restriction base="xs:gYear">
      <xs:minInclusive value="1900" />
      <xs:maxInclusive value="2100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StepNumberType">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="99" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DifficultyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="easy" />
      <xs:enumeration value="medium" />
      <xs:enumeration value="high" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DifficultyListType">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="DifficultyType" />
      </xs:simpleType>
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NumberOrListDifficulty">
    <xs:union memberTypes="RatingType DifficultyListType" />
  </xs:simpleType>

  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(10|[1-9])/10" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UrlType">
    <xs:restriction base="xs:string">
      <xs:pattern value="https?://.*|.*\.html(#.*)?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="LinkType">
    <xs:simpleContent>
      <xs:extension base="UrlType">
        <xs:attribute name="type" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <!-- ref -->
  <xs:element name="link" type="LinkType" />
  <xs:element name="step" type="StepType" />


  <!-- complextypy -->
  <xs:complexType name="StepType">
    <xs:simpleContent>
      <xs:extension base="NonEmptyString">
        <xs:attribute name="number" type="StepNumberType" use="required" />
        <xs:attribute name="name" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StepsType">
    <xs:sequence>
      <xs:element ref="step" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="image" type="ImageType" />

  <xs:complexType name="ImageType">
    <xs:attribute name="src" type="xs:string" use="required" />
    <xs:attribute name="content" type="NonEmptyString" use="optional" />
    <xs:attribute name="width" type="xs:positiveInteger" use="optional" />
    <xs:attribute name="height" type="xs:positiveInteger" use="optional" />
  </xs:complexType>

  <!-- globalatrybuty -->
  <xs:attribute name="lang" type="xs:language" />

  <xs:attributeGroup name="commonAttrs">
    <xs:attribute ref="lang" use="optional" />
  </xs:attributeGroup>


  <!-- inventor -->
  <xs:complexType name="InventorType">
    <xs:sequence>
      <xs:element name="name" type="NonEmptyString" />
      <xs:element name="yearofbirth" type="YearType" />
      <xs:element name="nationality" type="NonEmptyString" />
      <xs:element name="profession" type="NonEmptyString" />
      <xs:element name="awards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="award">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="NonEmptyString" name="name" />
                  <xs:element type="YearType" name="year" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="source" type="UrlType" />
    <xs:attributeGroup ref="commonAttrs" />
  </xs:complexType>


  <!-- metody -->
  <xs:complexType name="MethodType">
    <xs:sequence>
      <xs:element name="description" minOccurs="1">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="term" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="difficulty" type="NumberOrListDifficulty" minOccurs="0" />

      <xs:element name="steps" type="StepsType" />

      <xs:element name="links" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="link" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element ref="image" />
        <xs:element name="gallery">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="image" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute ref="lang" use="optional" />
    <xs:attribute name="name" type="NonEmptyString" use="required" />
    <xs:attribute name="creator" type="xs:string" use="optional" />
    <xs:attribute name="year" type="YearType" use="optional" />
  </xs:complexType>

  <xs:complexType name="MethodsType">
    <xs:sequence>
      <xs:element name="method" type="MethodType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TrainingType">
    <xs:sequence>
      <xs:element name="tip" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="link" type="LinkType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="term" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="lang" type="NonEmptyString" use="optional" />
  </xs:complexType>

  <xs:complexType name="RecommendationsType">
    <xs:sequence>
      <xs:element name="beginner" type="NonEmptyString" />
      <xs:element name="intermediate" type="NonEmptyString" />
      <xs:element name="advanced" type="NonEmptyString" />
      <xs:element name="note">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="300"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="ResourcesType">
    <xs:sequence>
      <xs:element name="youtubeChannel" type="NonEmptyString" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RubiksRootType">
    <xs:sequence>
      <xs:element name="inventor" type="InventorType" />
      <xs:element name="methods" type="MethodsType" />
      <xs:element name="training" type="TrainingType" minOccurs="0" />
      <xs:element name="recommendations" type="RecommendationsType" minOccurs="0" />
      <xs:element name="resources" type="ResourcesType" minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="commonAttrs" />
  </xs:complexType>

  <xs:element name="rubiksProject" type="RubiksRootType" />

</xs:schema>
