hihprojekty/projekt1/kostki.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- ==========================================================
       GLOBAL SIMPLE TYPES (≥6)
  =========================================================== -->
  <!-- 1 -->
  <xs:simpleType name="YearType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1900" />
      <xs:maxInclusive value="2100" />
    </xs:restriction>
  </xs:simpleType>

  <!-- 2 -->
  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>

  <!-- 3 -->
  <xs:simpleType name="DifficultyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="easy" />
      <xs:enumeration value="medium" />
      <xs:enumeration value="high" />
    </xs:restriction>
  </xs:simpleType>

  <!-- 4 -->
  <xs:simpleType name="UrlType">
    <xs:restriction base="xs:string">
      <xs:pattern value="https?://.*|.*\.html(#.*)?" />
    </xs:restriction>
  </xs:simpleType>

  <!-- 5 -->
  <xs:simpleType name="StepNumberType">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="99" />
    </xs:restriction>
  </xs:simpleType>

  <!-- 6 -->
  <xs:simpleType name="TagTokenType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z0-9\-]{1,20}" />
    </xs:restriction>
  </xs:simpleType>

  <!-- 7 -->
  <xs:simpleType name="TagsListType">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="TagTokenType" />
      </xs:simpleType>
      <xs:length value="3" />
    </xs:restriction>
  </xs:simpleType>

  <!-- 8 -->
  <xs:simpleType name="NumberOrCodeType">
    <xs:union memberTypes="xs:integer">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[A-Z]{3}-\d{2}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <!-- ==========================================================
       GLOBAL ATTRIBUTE + GROUP
  =========================================================== -->
  <xs:attribute name="lang" type="xs:language" />

  <xs:attributeGroup name="commonAttrs">
    <xs:attribute ref="lang" use="optional" />
    <xs:attribute name="source" type="xs:string" use="optional" />
  </xs:attributeGroup>

  <!-- ==========================================================
       GLOBAL COMPLEX TYPES (≥6)
  =========================================================== -->
  <xs:complexType name="CreatorType">
    <xs:sequence>
      <xs:element name="name" type="NonEmptyString" />
      <xs:element name="yearofbirth" type="YearType" />
      <!-- lokalny prosty union -->
      <xs:element name="extraId" minOccurs="0">
        <xs:simpleType>
          <xs:union memberTypes="xs:integer">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z]{3}-\d{2}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttrs" />
  </xs:complexType>

  <!-- Przykład extension -->
  <xs:complexType name="FamousCreatorType">
    <xs:complexContent>
      <xs:extension base="CreatorType">
        <xs:sequence>
          <xs:element name="fameReason" type="NonEmptyString" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StepType">
    <xs:simpleContent>
      <xs:extension base="NonEmptyString">
        <xs:attribute name="number" type="StepNumberType" use="required" />
        <xs:attribute name="name" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StepsType">
    <xs:sequence>
      <xs:element ref="step" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LinkType">
    <xs:simpleContent>
      <xs:extension base="UrlType">
        <xs:attribute name="type" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ImageType">
    <xs:attribute name="src" type="xs:string" use="required" />
    <xs:attribute name="alt" type="NonEmptyString" use="optional" />
    <xs:attribute name="width" type="xs:positiveInteger" use="optional" />
    <xs:attribute name="height" type="xs:positiveInteger" use="optional" />
  </xs:complexType>

  <!-- ==========================================================
       MethodType z choice, sequence, mixed
  =========================================================== -->
  <xs:complexType name="MethodType">
    <xs:sequence>
      <xs:element name="description" minOccurs="1">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="term" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="steps" type="StepsType" />
      <xs:element name="links" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="link" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:choice minOccurs="0">
        <xs:element name="image" type="ImageType" />
        <xs:element name="gallery">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" type="ImageType" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>

    <xs:attribute name="name" type="NonEmptyString" use="required" />
    <xs:attribute name="difficulty" type="DifficultyType" use="required" />
    <xs:attribute name="creator" type="xs:string" use="optional" />
    <xs:attribute name="year" type="YearType" use="optional" />
    <xs:attribute ref="lang" use="optional" />
  </xs:complexType>

  <xs:complexType name="MethodsType">
    <xs:sequence>
      <xs:element name="method" type="MethodType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TrainingType">
    <xs:sequence>
      <xs:element name="tip" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="link" type="UrlType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="term" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttrs" />
  </xs:complexType>

  <xs:complexType name="RecommendationsType">
    <xs:sequence>
      <xs:element name="beginner" type="NonEmptyString" />
      <xs:element name="intermediate" type="NonEmptyString" />
      <xs:element name="advanced" type="NonEmptyString" />
      <xs:element name="note" type="NonEmptyString" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResourcesType">
    <xs:sequence>
      <xs:element name="youtubeChannel" type="NonEmptyString" maxOccurs="unbounded" />
      <xs:element name="tags" type="TagsListType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RubiksRootType">
    <xs:sequence>
      <xs:element name="creator" type="CreatorType" />
      <xs:element name="methods" type="MethodsType" />
      <xs:element name="training" type="TrainingType" minOccurs="0" />
      <xs:element name="recommendations" type="RecommendationsType" minOccurs="0" />
      <xs:element name="resources" type="ResourcesType" minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="commonAttrs" />
  </xs:complexType>

  <!-- ==========================================================
       GLOBAL ELEMENTS (≥12) + REFS
  =========================================================== -->
  <xs:element name="rubiksProject" type="RubiksRootType" />
  <xs:element name="step" type="StepType" />
  <xs:element name="link" type="LinkType" />
  <xs:element name="image" type="ImageType" />
  <xs:element name="tags" type="TagsListType" />

</xs:schema>
